/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
	margin: 0;
	padding: 0;
}

html,
body { height: 100%; }

body {
	background-color: #fff;
	color: #999;
	font-family: Georgia, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*
Colors:
----------------
Red:   #d12027
Green: #66be67
Gray:  #999

*/
.site {
	border: 30px solid #66be67;
	padding: 2rem;
}