/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

// Variables and Mixins
$red:   #d12027;
$green: #66be67;
$gray:  #999;

$break-small: 800px;

/* Global Reset */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
//	min-width: 100%;
//	overflow: hidden;
	background-color: #fff;
	color: #999;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.4rem;
	line-height: 1.667;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

h1 { font-size: 200%; line-height: 1.2; }
h2 { font-size: 125%; margin-top: 1rem; }
//h3 { font-size: ; }

ul {
	margin: 0 0 0 1.1rem;
}

a {
	color: $green;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/


.site {
	border: 30px solid $green;
	padding: 2rem;
}

.site-header,
.site-body,
.site-footer { clear: both; }

.site-header { overflow: hidden; }
.site-body {
	h1,
	h2 { color: $red; }

	h1 {
		border-bottom: 1px solid $gray;
		margin: 1rem 0;
	}
	h2,
	p,
	ul {
		padding: 0 2rem;
	}
}

.title {
	float: left;
	max-width: 250px;
}

.site-nav,
.what-to-donate {
	width: -webkit-calc(100% - 250px);
	width:         calc(100% - 250px);

	float: right;
	text-align: center;
}

.site-links,
.link {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	display: inline-block;
	border-left: 1px solid $gray;
	padding-left: 1rem;
	margin-left: 1rem;

	&:first-child {
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	}
}

.column {
	width: 50%;
	float: left;

	&:last-child {
		float: right;
	}
}

.footnote {
	line-height: 1.1;
}

#donate {
	img {
		display: block;
		margin: auto;
	}
}

#sponsors {
	a {
		margin-left: .5rem;
		padding-left: .5rem;
		border-left: 1px solid $gray;
		
		&:first-child {
			margin-left: 0;
			padding-left: 0;
			border-left: 0;
		}
	}
}

.what-to-donate {
	h1 {
		margin-top: 5rem;
		color: $red;
		span {
			display: block;
			color: $gray;
			line-height: 1.2;
			font-size: 80%;
		}
	}
}

@media screen and (max-width: $break-small) {
	body {
		font-size: 1rem;
	}
	.site {
		border-width: 10px;
	}
	.site-body {
		h2,p,ul {
			padding: 0;
		}
	}
	.title,
	.site-nav,
	.what-to-donate {
		width: 100%;
		float: none;
		clear: both;
	}
	.title {
		margin: 0 auto 1rem;
	}
	.what-to-donate {
		h1 {
			font-size: 175%;
			margin-top: 1rem;
			span {
				margin-top: 1rem;
			}
		}
	}
	.column {
		width: 100%;
		float: none;
	}
	.link {
		padding-left: .5rem;
		margin-left: .5rem;
	}
	#sponsors {
		a {
			display: block;
			margin: 0;
			padding: 0 0 0 15px;
			border: 0;
			position: relative;
			&:first-child {
				padding-left: 15px;
			}
			&:before {
				left: 0;
				position: absolute;
				content: "\2713 ";
				width: 10px;
				height: 10px;
			}
		}
	}
}